/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

/ {
	compatible = "toradex,verdin-imx8mm";
};

&backlight {
	pwms = <&pwm1 0 6666667 0>;
	status = "okay";
};

&gpu {
	status = "okay";
};

/* Verdin I2C_2_DSI */
&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";
};

&lcdif {
	status = "okay";
};

&mipi_dsi {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	panel@0 {
		compatible = "wisecoco,top055fhd01a";
		reg = <0>;
		backlight = <&backlight>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2s_2_bclk_touch_reset>;
		reset-gpios = <&gpio3 23 GPIO_ACTIVE_HIGH>;
		wait-until-enabled;
		status = "okay";
	};
};

/* Verdin PWM_3_DSI */
&pwm1 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};
